# macOS
.DS_Store

# Environment files
.env
.env.*

# Logs
logs/
*.log

# Build output
dist/
build/
out/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# Golang
coverage.out